<% for (var i = 0; i < comments.length; i += 1) { %>
  <div class="comment <% if (i === 1) { %>comment--reply<% } %>">

    <div class="comment-header">
      <span> by </span><a href="/u/<%= comments[i].author %>" class="comment-authorName"><%= comments[i].author %></a><span> · </span>
      <time class="comment-date js-comment-date" datetime="<%= comments[i].comment_date %>"><%= comments[i].comment_date %></time>
    </div>

    <div class="comment-contents">
      <%= comments[i].contents %>
    </div>

    <% if (typeof comments[i].replies !== "undefined" && comments[i].replies.length >= 1) { %>
      <div class="comment-replies">
        <%- include(commentPartialPath, { commentPartialPath: commentPartialPath, comments: comments[i].replies }) %>
      </div>
    <% } %>
  </div>
<% } %>