<header>
      <a href="/" class="logo-link">
        <img class="logo" src="<%= settings.logoUrl %>" />
      </a>
      <div class="navigation">
        <a href="/submit?type=question" class="blue-link tooltip js-tooltip-hover" data-text="Ask a question to the TeslaTracker community">Ask Question</a>
        <a href="/submit" class="blue-link tooltip js-tooltip-hover" data-text="Add a story you think would be useful to the Tesla community">Add Post</a>
        <div class="searchbox js-searchbox">
          <!-- The Search Bar -->
          <form method="get" action="/">
            <% if (typeof searchQuery !== "undefined") { %>
              <input name="search" type="text" maxlength="50" placeholder="Search" class="searchbox-input js-searchbox-input" value="<%= searchQuery %>">
            <% } else { %>
              <input name="search" type="text" maxlength="50" placeholder="Search" class="searchbox-input js-searchbox-input">
            <% } %>
            
            <button type="submit" class="searchbox-submit">
              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.7927 14.3302L12.6654 11.2083C12.509 11.0834 12.3214 10.9898 12.1338 10.9898H11.6334C12.4778 9.89707 13.0094 8.52341 13.0094 6.99366C13.0094 3.43463 10.0698 0.5 6.5047 0.5C2.90835 0.5 0 3.43463 0 6.99366C0 10.5839 2.90835 13.4873 6.5047 13.4873C8.00579 13.4873 9.38178 12.9878 10.5076 12.1137V12.6444C10.5076 12.8317 10.5701 13.019 10.7265 13.1751L13.8225 16.2659C14.1352 16.578 14.6043 16.578 14.8858 16.2659L15.7614 15.3917C16.0741 15.1107 16.0741 14.6424 15.7927 14.3302ZM6.5047 10.9898C4.28435 10.9898 2.50181 9.21024 2.50181 6.99366C2.50181 4.80829 4.28435 2.99756 6.5047 2.99756C8.69378 2.99756 10.5076 4.80829 10.5076 6.99366C10.5076 9.21024 8.69378 10.9898 6.5047 10.9898Z" fill="#3F67CE"/>
              </svg>
            </button>
            
          </form>
        </div>
        <p class="username">
          <% if (userInfo) { %>
            <a href="/user/<%= userInfo %>" class="blue-link"><%= userInfo %></a> <% if (karmaPoints) { %>(<%= karmaPoints %>)<% } %> | <a href="/logout" class="blue-link">Sign Out</a>
          <% } else { %>
            <a href="/login" class="blue-link">
              Sign In
            </a>
          <% } %>
        </p>
      </div>
      
      <div class="mobile-menuToggle js-mobilemenutoggle flex flex--alignItemsCenter flex--spaceOneDown">
        <!-- <% if (userInfo) { %>
          <span class="flex-item"><%= userInfo %></span>
        <% } %> -->
        <div class="flex-item mobile-menuToggle-graphic"></div>
        <span class="flex-item mobile-menuToggle-text">Menu</span>
      </div>
      
    </header>
    
    <div class="mobile-navigation js-mobilenavigation">
      <nav>
        <ul>
          <li><a href="/submit">Add Post</a></li>
          <li><a href="#" class="js-searchbutton-mobile">Search</a></li>
          <li><a href="/submit?type=question">Ask Question</a></li>
          <% if (userInfo) { %>
          <li>
            <a href="/user/<%= userInfo %>">Profile</a>
          </li>
          <% } %>
          <li>
            <% if (userInfo) { %>
              <a href="/logout" class="login-button">Sign Out</a>
            <% } else { %>
              <a href="/login" class="login-button">
                Sign In
              </a>
            <% } %>
          </li>
        </ul>
      </nav>
    </div>