<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= settings.description %>. The easiest and fastest way to always know what's happening in the Tesla world.">

    <title>
      <%= item.title %> | TeslaTracker
    </title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/comments.css">
      
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Fapple-touch-icon.png?v=1633024068411">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Ffavicon-32x32.png?v=1633024067536">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Ffavicon-16x16.png?v=1633024067378">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Fsafari-pinned-tab.svg?v=1633024068947" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <meta property="og:title" content="TeslaTracker">
    <meta property="og:site_name" content="TeslaTracker">
    <meta property="og:url" content="https://teslatracker.com/">
    <meta property="og:description" content="All your Tesla news in one spot">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Fdylan-calluy-D1w-heh9uMg-unsplash%20(1)%20(1).jpg?v=1632874611225">
    
    <% if (staging) { %>
      <!-- Don't track the staging server -->
      <meta name="robots" content="noindex,nofollow">
      <script>
        if (window.location.href.substr(0,5) !== 'https') {
          window.location.href = window.location.href.replace('http', 'https');
        }
      </script>
    <% } %>
    
  </head>
  <body>
    <div class="container">
      
      <%- include(headerPartialPath) %>
      
    <main>
      
      <article class="article js-article" data-item-id="<%= item.item_id %>">

    <div class="article-details">
      <div class="article-website">
        <img src="https://logo.clearbit.com/<%= item.domain %>" class="article-favicon">
        <p class="article-websitename">
          <%= item.domain %>
        </p>
      </div>
      <div class="article-date js-article-date" data-time="<%= item.item_date %>">
        <%= item.item_date_formatted %>
      </div>
    </div>

    <div class="flex mt-onedown">
      <div class="flex-item mr-default flex-item--stretch">
        <div class="flex flex--spaceOneDown flex--alignItemsCenter">
          <div class="flex-item">
            <p class="article-title">
              <a href="<%= item.url %>" target="_blank" class="article-linkTitle">
                <%= item.title; %>
              </a>
            </p>
          </div>
          <div class="flex-item">
            <span class="article-icon desktop" style="display: none;"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.75 0H1.23438C0.828125 0 0.5 0.34375 0.5 0.75V5.26562C0.5 5.67188 0.828125 6 1.23438 6H5.75C6.15625 6 6.5 5.67188 6.5 5.26562V0.75C6.5 0.34375 6.15625 0 5.75 0ZM8.70312 0.59375L7 1.78125V4.23438L8.70312 5.42188C9.03125 5.64062 9.5 5.40625 9.5 5.01562V1C9.5 0.609375 9.03125 0.375 8.70312 0.59375Z" fill="white"></path></svg></span>
          </div>
        </div>
        <p class="article-description">
          <a href="<%= item.url %>" target="_blank" class="article-link">
            <%= item.description_trimmed; %>
          </a>
        </p>

        <div class="article-footer">

          <div style="width: 16px; height: 17px;" class="js-favorite-container <% if (!userInfo) { %>tooltip tooltip--right js-logged-out-tooltip<% } %>" data-text="Please sign in to favorite items.">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="js-favorite" <% if (favorites.some((favorite) => favorite.item_id === item.item_id)) { %> data-action="remove" <% } else { %> data-action="add" <% } %>>
              <% if (favorites && favorites.length >= 1 && favorites.some((favorite) => favorite.item_id === item.item_id)) { %>
                <path d="M7.14719 0.550844L5.2022 4.70709L0.803509 5.36334C0.0255095 5.48834 -0.273721 6.48834 0.294817 7.08209L3.43674 10.3008L2.68866 14.8321C2.56897 15.6446 3.40681 16.2696 4.09504 15.8946L8.01496 13.7383L11.905 15.8946C12.5932 16.2696 13.431 15.6446 13.3113 14.8321L12.5633 10.3008L15.7052 7.08209C16.2737 6.48834 15.9745 5.48834 15.1965 5.36334L10.8277 4.70709L8.85281 0.550844C8.52365 -0.167906 7.50627 -0.199156 7.14719 0.550844Z" data-original-stroke="#BBBBBB" stroke="none" fill="#EDA44D" data-original-fill="#EDA44D" />
              <% } else { %>
                <path d="M7.14719 0.550844L5.2022 4.70709L0.803509 5.36334C0.0255095 5.48834 -0.273721 6.48834 0.294817 7.08209L3.43674 10.3008L2.68866 14.8321C2.56897 15.6446 3.40681 16.2696 4.09504 15.8946L8.01496 13.7383L11.905 15.8946C12.5932 16.2696 13.431 15.6446 13.3113 14.8321L12.5633 10.3008L15.7052 7.08209C16.2737 6.48834 15.9745 5.48834 15.1965 5.36334L10.8277 4.70709L8.85281 0.550844C8.52365 -0.167906 7.50627 -0.199156 7.14719 0.550844Z" data-original-stroke="#BBBBBB" stroke="#BBBBBB" fill="none" data-original-fill="#EDA44D" />
              <% } %>
            </svg>
          </div>

          <% if (typeof item.submitted_by !== "undefined") { %>
            <p class="article-author">
              <span> by </span><a href="/user/<%= item.submitted_by %>" class="article-authorName"><%= item.submitted_by %></a><span> · </span>
            </p>
          <% } %>
          
          <p class="article-tags">
            <%= item.keywords %>
          </p>
        </div>
      </div>
      <div class="flex-item">
        <div class="flex-item">
        <div class="flex flex--spaceOneDown flex--alignItemsCenter">
        <div class="flex-item">
            <div class="article-sharecontainer">
              <div class="article-share article-share--upvote js-upvote <% if (!userInfo) { %>tooltip js-logged-out-tooltip<% } %> <% if (upvotes.some((favorite) => favorite.item_id === item.item_id)) { %> article-share--upvoted <% } %>" <% if (upvotes.some((favorite) => favorite.item_id === item.item_id)) { %> data-action="remove" <% } else { %> data-action="add" <% } %> data-text="Please sign in to upvote items.">
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <% if (upvotes && upvotes.length >= 1 && upvotes.some((favorite) => favorite.item_id === item.item_id)) { %>
                    <path d="M5.37801 0.153119C5.17182 -0.0510397 4.82818 -0.0510397 4.62199 0.153119L0.154639 4.55388C-0.0515464 4.78072 -0.0515464 5.12098 0.154639 5.32514L0.681558 5.84688C0.887743 6.05104 1.23139 6.05104 1.46048 5.84688L5.01145 2.3535L8.53952 5.84688C8.76861 6.05104 9.11226 6.05104 9.31844 5.84688L9.84536 5.32514C10.0515 5.12098 10.0515 4.78072 9.84536 4.55388L5.37801 0.153119Z" data-upvoted="true" data-fill-upvoted="#FFFFFF" data-fill-notupvoted="#3F67CE" fill="#FFFFFF" />
                  <% } else { %>
                    <path d="M5.37801 0.153119C5.17182 -0.0510397 4.82818 -0.0510397 4.62199 0.153119L0.154639 4.55388C-0.0515464 4.78072 -0.0515464 5.12098 0.154639 5.32514L0.681558 5.84688C0.887743 6.05104 1.23139 6.05104 1.46048 5.84688L5.01145 2.3535L8.53952 5.84688C8.76861 6.05104 9.11226 6.05104 9.31844 5.84688L9.84536 5.32514C10.0515 5.12098 10.0515 4.78072 9.84536 4.55388L5.37801 0.153119Z" data-upvoted="false" data-fill-upvoted="#FFFFFF" data-fill-notupvoted="#3F67CE" fill="#3F67CE" />
                  <% } %>
                </svg>
              </div>
              <p class="article-shareText js-upvoteCount"><%= item.upvoteCount %></p>
            </div>
          </div>
          <div class="flex-item">
            <div class="article-sharecontainer">
              <div class="article-share tooltip js-tooltip js-share" data-text="This article's link has been copied to your clipboard." data-link="https://teslatracker.com/item/<%= item.item_id %>">
                <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.8064 3.51703L7.67531 0.124944C7.32323 -0.165169 6.7599 0.0803109 6.7599 0.548955V2.33427C2.98093 2.35658 0 3.09302 0 6.48511C0 7.84641 0.915403 9.20771 1.94817 9.92183C2.2533 10.145 2.72274 9.85489 2.60538 9.49782C1.54914 6.26195 3.09829 5.41393 6.7599 5.36929V7.31082C6.7599 7.77946 7.32323 8.02494 7.67531 7.73483L11.8064 4.34274C12.0645 4.11958 12.0645 3.7402 11.8064 3.51703Z" fill="black"/>
                </svg>
              </div>
              <p class="article-shareText">Share</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="article-detailsMobile flex flex--spaceBetween flex--alignItemsCenter">
      <div class="flex-item">
        <div class="flex flex--spaceOneDown">
          <div class="flex-item" style="display: none;">
            <span class="article-icon" style="display: none;"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.75 0H1.23438C0.828125 0 0.5 0.34375 0.5 0.75V5.26562C0.5 5.67188 0.828125 6 1.23438 6H5.75C6.15625 6 6.5 5.67188 6.5 5.26562V0.75C6.5 0.34375 6.15625 0 5.75 0ZM8.70312 0.59375L7 1.78125V4.23438L8.70312 5.42188C9.03125 5.64062 9.5 5.40625 9.5 5.01562V1C9.5 0.609375 9.03125 0.375 8.70312 0.59375Z" fill="white"></path></svg></span>
          </div>
          <div class="flex-item">
            <% if (typeof item.submitted_by !== "undefined") { %>
            <span class="article-author">
                <span> by </span><a href="/user/<%= item.submitted_by %>" class="article-authorName"><%= item.submitted_by %></a><span> · </span>
            </span>
            <% } %>

            <span class="article-tags">
              <%= item.keywords %>
            </span>
          </div>
        </div>
      </div>
      <div class="flex-item">
        <div class="flex flex--space">
          <div class="flex-item">
            <svg width="10" height="10" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="js-favorite article-favoriteMobile" <% if (favorites.some((favorite) => favorite.item_id === item.item_id)) { %> data-action="remove" <% } else { %> data-action="add" <% } %>>
            <% if (favorites && favorites.length >= 1 && favorites.some((favorite) => favorite.item_id === item.item_id)) { %>
              <path d="M7.14719 0.550844L5.2022 4.70709L0.803509 5.36334C0.0255095 5.48834 -0.273721 6.48834 0.294817 7.08209L3.43674 10.3008L2.68866 14.8321C2.56897 15.6446 3.40681 16.2696 4.09504 15.8946L8.01496 13.7383L11.905 15.8946C12.5932 16.2696 13.431 15.6446 13.3113 14.8321L12.5633 10.3008L15.7052 7.08209C16.2737 6.48834 15.9745 5.48834 15.1965 5.36334L10.8277 4.70709L8.85281 0.550844C8.52365 -0.167906 7.50627 -0.199156 7.14719 0.550844Z" data-original-stroke="#BBBBBB" stroke="none" fill="#EDA44D" data-original-fill="#EDA44D" />
            <% } else { %>
              <path d="M7.14719 0.550844L5.2022 4.70709L0.803509 5.36334C0.0255095 5.48834 -0.273721 6.48834 0.294817 7.08209L3.43674 10.3008L2.68866 14.8321C2.56897 15.6446 3.40681 16.2696 4.09504 15.8946L8.01496 13.7383L11.905 15.8946C12.5932 16.2696 13.431 15.6446 13.3113 14.8321L12.5633 10.3008L15.7052 7.08209C16.2737 6.48834 15.9745 5.48834 15.1965 5.36334L10.8277 4.70709L8.85281 0.550844C8.52365 -0.167906 7.50627 -0.199156 7.14719 0.550844Z" data-original-stroke="#BBBBBB" stroke="#BBBBBB" fill="none" data-original-fill="#EDA44D" />
            <% } %>
          </svg>
          </div>
          <div class="flex-item js-upvote <% if (upvotes && upvotes.length >= 1 && upvotes.some((favorite) => favorite.item_id === item.item_id)) { %> article-share--upvoted <% } %>" <% if (upvotes.some((favorite) => favorite.item_id === item.item_id)) { %> data-action="remove" <% } else { %> data-action="add" <% } %>>
            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <% if (upvotes && upvotes.length >= 1 && upvotes.some((favorite) => favorite.item_id === item.item_id)) { %>
                <path d="M5.37801 0.153119C5.17182 -0.0510397 4.82818 -0.0510397 4.62199 0.153119L0.154639 4.55388C-0.0515464 4.78072 -0.0515464 5.12098 0.154639 5.32514L0.681558 5.84688C0.887743 6.05104 1.23139 6.05104 1.46048 5.84688L5.01145 2.3535L8.53952 5.84688C8.76861 6.05104 9.11226 6.05104 9.31844 5.84688L9.84536 5.32514C10.0515 5.12098 10.0515 4.78072 9.84536 4.55388L5.37801 0.153119Z" data-upvoted="true" data-fill-upvoted="#3F67CE" fill="#3F67CE" data-fill-notupvoted="#BBBBBB" />
              <% } else { %>
                <path d="M5.37801 0.153119C5.17182 -0.0510397 4.82818 -0.0510397 4.62199 0.153119L0.154639 4.55388C-0.0515464 4.78072 -0.0515464 5.12098 0.154639 5.32514L0.681558 5.84688C0.887743 6.05104 1.23139 6.05104 1.46048 5.84688L5.01145 2.3535L8.53952 5.84688C8.76861 6.05104 9.11226 6.05104 9.31844 5.84688L9.84536 5.32514C10.0515 5.12098 10.0515 4.78072 9.84536 4.55388L5.37801 0.153119Z" data-upvoted="false" data-fill-upvoted="#3F67CE" fill="#BBBBBB" data-fill-notupvoted="#BBBBBB" />
              <% } %>
            </svg>
            <span class="article-detailsMobileShareText js-upvoteCount"><%= item.upvoteCount %></span>
          </div>
          <div class="flex-item tooltip js-tooltip js-share" data-text="This article's link has been copied to your clipboard." data-link="https://teslatracker.com/item/<%= item.item_id %>">
            <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.8064 3.51703L7.67531 0.124944C7.32323 -0.165169 6.7599 0.0803109 6.7599 0.548955V2.33427C2.98093 2.35658 0 3.09302 0 6.48511C0 7.84641 0.915403 9.20771 1.94817 9.92183C2.2533 10.145 2.72274 9.85489 2.60538 9.49782C1.54914 6.26195 3.09829 5.41393 6.7599 5.36929V7.31082C6.7599 7.77946 7.32323 8.02494 7.67531 7.73483L11.8064 4.34274C12.0645 4.11958 12.0645 3.7402 11.8064 3.51703Z" fill="black"/>
            </svg>
            <span class="article-detailsMobileShareText">Share</span>
          </div>
        </div>
      </div>
    </div>

  </article>
      
      <form class="form form--left js-comment-form js-comment-form-primary">
        <div class="form-element">
          <textarea required type="text" placeholder="Share your thoughts..." class="js-comment form-input form-textarea"></textarea>
        </div>
        <div class="form-element <% if (!userInfo) { %>tooltip js-logged-out-tooltip tooltip--right<% } %>" data-text="Please sign in to comment.">
          <input type="submit" value="Add Comment" data-original-value="Add Comment" class="form-button js-form-button" />
        </div>
        
        <input type="hidden" class="js-author" value="<%= userInfo %>" />
        
      </form>
      
      <div class="comments comments--start">
        <% for (var i = 0; i < comments.length; i += 1) { %>
          <div id="<%= comments[i].comment_id %>" class="comment js-commentContainer">
            
            <div class="comment-header flex flex--spaceOneDown flex--alignItemsCenter">
              <div class="flex-item">
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="js-commentupvote" <% if (commentUpvotes && commentUpvotes.length >= 1 && commentUpvotes.some((commentUpvote) => commentUpvote == comments[i].comment_id)) { %>data-action="remove"<% } else { %>data-action="add"<% } %>>
                  <% if (commentUpvotes && commentUpvotes.length >= 1 && commentUpvotes.some((commentUpvote) => commentUpvote == comments[i].comment_id)) { %>
                    <path 
                        d="M5.37801 0.153119C5.17182 -0.0510397 4.82818 -0.0510397 4.62199 0.153119L0.154639 4.55388C-0.0515464 4.78072 -0.0515464 5.12098 0.154639 5.32514L0.681558 5.84688C0.887743 6.05104 1.23139 6.05104 1.46048 5.84688L5.01145 2.3535L8.53952 5.84688C8.76861 6.05104 9.11226 6.05104 9.31844 5.84688L9.84536 5.32514C10.0515 5.12098 10.0515 4.78072 9.84536 4.55388L5.37801 0.153119Z" 
                        data-upvoted="false" 
                        data-fill-upvoted="#3F67CE" 
                        data-fill-notupvoted="#BBBBBB" 
                        fill="#3F67CE"></path>
                  <% } else { %>
                    <path 
                        d="M5.37801 0.153119C5.17182 -0.0510397 4.82818 -0.0510397 4.62199 0.153119L0.154639 4.55388C-0.0515464 4.78072 -0.0515464 5.12098 0.154639 5.32514L0.681558 5.84688C0.887743 6.05104 1.23139 6.05104 1.46048 5.84688L5.01145 2.3535L8.53952 5.84688C8.76861 6.05104 9.11226 6.05104 9.31844 5.84688L9.84536 5.32514C10.0515 5.12098 10.0515 4.78072 9.84536 4.55388L5.37801 0.153119Z" 
                        data-upvoted="false" 
                        data-fill-upvoted="#3F67CE" 
                        data-fill-notupvoted="#BBBBBB" 
                        fill="#BBBBBB"></path>
                  <% } %>
                </svg>
              </div>
              <div class="flex-item">
                <span> by </span><a href="/user/<%= comments[i].author %>" class="comment-authorName"><%= comments[i].author %></a><span> · </span>
                <time class="comment-date js-comment-date" datetime="<%= comments[i].comment_date %>"><%= comments[i].comment_date_formatted %></time>
              </div>
            </div>
            
            <div class="comment-contents">
              <%= comments[i].contents %>
            </div>
            
            <div class="comment-reply">
              <a href="#" class="grey-link js-comment-reply-button comment-reply-button">Reply</a>
              
              <form class="form form--left form--commentsInline js-comment-form hidden" <% if (typeof comments[i].parent_id !== "undefined" && comments[i].parent_id !== null) { %>data-comment-id="<%= comments[i].comment_id %>"<% } %>>
                <div class="form-element">
                  <textarea required type="text" placeholder="Share your thoughts..." class="js-comment form-input form-textarea"></textarea>
                </div>
                <div class="form-element">
                  <input type="submit" value="Add Comment" data-original-value="Add Comment" class="form-button js-form-button" />
                </div>
              </form>
              
            </div>
            
            <% if (typeof comments[i].replies !== "undefined" && comments[i].replies.length >= 1) { %>
              <div class="comment-replies">
                <%- include(commentPartialPath, { commentPartialPath: commentPartialPath, comments: comments[i].replies }) %>
              </div>
            <% } %>
            
          </div>
        <% } %>  
      </div>      
    </main>
      
      <%- include(footerPartialPath) %>
      
    </div>
  
    <script src="/dateFormat.js"></script>
    <script src="/comments.js"></script>
    <script src="/item.js"></script>
    <script src="/search.js"></script>
  
  </body>
</html>

