<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="All your Tesla news in one spot. The easiest and fastest way to always know what's happening in the Tesla world.">
    
    <title><%= userInfo.nickname %> | TeslaTracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/comments.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Fapple-touch-icon.png?v=1633024068411">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Ffavicon-32x32.png?v=1633024067536">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Ffavicon-16x16.png?v=1633024067378">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Fsafari-pinned-tab.svg?v=1633024068947" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- 
    <meta property="og:title" content="TeslaTracker">
    <meta property="og:site_name" content="TeslaTracker">
    <meta property="og:url" content="https://teslatracker.com/">
    <meta property="og:description" content="All your Tesla news in one spot">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Fdylan-calluy-D1w-heh9uMg-unsplash%20(1)%20(1).jpg?v=1632874611225">
    -->
    
    <% if (staging) { %>
      <!-- Don't track the staging server -->
      <meta name="robots" content="noindex,nofollow">
      <script>
        if (window.location.href.substr(0,5) !== 'https') {
          window.location.href = window.location.href.replace('http', 'https');
        }
      </script>
    <% } %>
    
  </head>
  <body>
    <div class="container">
     
      <%- include(headerPartialPath) %>
      
    <div class="mobile-navigation js-mobilenavigation">
      <nav>
        <ul>
          <li><a href="/submit">Add Post</a></li>
          <li><a href="#" class="js-searchbutton-mobile">Search</a></li>
          <li><a href="/submit?type=question">Ask Question</a></li>
          <li>
            <% if (userInfo) { %>
              <a href="/logout" class="login-button">Sign Out</a>
            <% } else { %>
              <a href="/login" class="login-button">
                Sign In
              </a>
            <% } %>
          </li>
        </ul>
      </nav>
    </div>
      
    <main>
      <div class="userProfile">
        <div class="userProfile--name">
          @<%= user.nickname %>
        </div>
        <div class="userProfile--about">
          Karma Points: 0&nbsp;
          <% if (user && user.ownedTeslaModel) { %>· <%= user.ownedTeslaModel %>&nbsp;<% }%>
          <% if (user && user.about) { %>· <%= user && user.about %><% } %>
        </div>
        
        <% if (editable) { %>
          <form class="form form--left js-form">
            <div class="form-element">
              <% if (user && user.about) { %>
              <textarea required name="about" id="about" type="text" placeholder="Enter Your About Description" class="js-about form-input form-textarea"><%= user.about %></textarea>
              <% } else { %>
              <textarea required name="about" id="about" type="text" placeholder="Enter Your About Description" class="js-about form-input form-textarea"></textarea>
              <% } %>
            </div>
            
            <div class="form-element">
              <input id="invitation_code" name="invitation_code" type="text" maxlength="280" placeholder="Enter Invitation Code" class="js-invite-code form-input">
            </div>
            
            <div class="form-element">
              <select name="owned_tesla_model" id="owned_tesla_model" class="js-owned-tesla-model" required>
                <option value="not_yet" <% if (user && user.ownedTeslaModel && user.ownedTeslaModel === "I don't own a Tesla, yet.") { %>selected="selected"<% } %>>I don't own a Tesla, yet.</option>
                <option value="model_s" <% if (user && user.ownedTeslaModel && user.ownedTeslaModel === "Model S") { %>selected="selected"<% } %>>Model S</option>
                <option value="model_3" <% if (user && user.ownedTeslaModel && user.ownedTeslaModel === "Model 3") { %>selected="selected"<% } %>>Model 3</option>
                <option value="model_x" <% if (user && user.ownedTeslaModel && user.ownedTeslaModel === "Model X") { %>selected="selected"<% } %>>Model X</option>
                <option value="model_y" <% if (user && user.ownedTeslaModel && user.ownedTeslaModel === "Model Y") { %>selected="selected"<% } %>>Model Y</option>
              </select>
            </div>
            
            <div class="form-element">
              <input type="submit" value="Update Profile" data-original-value="Update Profile" class="form-button js-form-button" />
            </div>
            
            <input type="hidden" class="js-author" value="<%= user.nickname %>" />
          </form>
        <% } %>
      </div>
      
      <div class="flex flex--spaceOneDown flex--mtOneUp">
        <div class="flex-item">
          <a href="#" data-link="submissions" class="blue-link js-profile-link user-profile-link-selected">Submissions <% if (typeof submissions !== "undefined" && submissions.length >= 1) { %>(<%= submissions.length %>)<% } else { %>(0)<% } %></a>
        </div>
        <div class="flex-item">
          <a href="#" data-link="comments" class="blue-link js-profile-link">Comments <% if (typeof comments !== "undefined" && comments.length >= 1) { %>(<%= comments.length %>)<% } else { %>(0)<% } %></a>
        </div>
        <div class="flex-item">
          <a href="#" data-link="favorites" class="blue-link js-profile-link">Favorites <% if (typeof favoriteItems !== "undefined" && favoriteItems.length >= 1) { %>(<%= favoriteItems.length %>)<% } else { %>(0)<% } %></a>
        </div>
        <div class="flex-item">
          <a href="#" data-link="upvotes" class="blue-link js-profile-link">Upvotes <% if (typeof upvoteItems !== "undefined" && upvoteItems.length >= 1) { %>(<%= upvoteItems.length %>)<% } else { %>(0)<% } %></a>
        </div>
      </div>
      
      <% if (typeof submissions !== "undefined" && submissions.length >= 1) { %>
        <div class="items-container js-items-container items-container--selected" data-item-container="submissions">
          <!-- Display the user's submissions. -->
          <%- include(articlePartialPath, { nextItems: submissions, favorites: favorites, upvotes: upvotes }) %>
        </div>
      <% } %>
      
      <!-- Display the user's comments -->
      <% if (typeof comments !== "undefined" && comments.length >= 1) { %>
        <div class="items-container js-items-container" data-item-container="comments">
          <!-- Display the user's comments -->
          <%- include(commentPartialPath, { commentPartialPath: commentPartialPath, comments: comments }) %>
        </div>
      <% } %>
      
      <% if (typeof favorites !== "undefined" && favorites.length >= 1) { %>
        <div class="items-container js-items-container" data-item-container="favorites">
          <!-- Display the user's favorites  -->
          <%- include(articlePartialPath, { nextItems: favoriteItems, favorites: favorites, upvotes: upvotes }) %>
        </div>
      <% } %>
      
      <% if (typeof upvotes !== "undefined" && upvotes.length >= 1) { %>
        <div class="items-container js-items-container" data-item-container="upvotes">
          <!-- Display the user's upvoted submissions -->
          <%- include(articlePartialPath, { nextItems: upvoteItems, favorites: favorites, upvotes: upvotes }) %>
        </div>
      <% } %>
      
    </main>

    <footer>
      <p class="footer-text">Teslatracker is an independent organization and is not affiliated with Tesla Motors, Inc. or its subsidiaries. Tesla, Tesla Motors, Tesla Roadster, Model S, Model X, and the “Tesla”, “T” and “Tesla and T in Crest” designs are trademarks or registered trademarks of Tesla Motors, Inc. in the United States and other countries. Privacy policy - We have not, and will not ever sell any data to advertisers or 3rd party companies. We think that’s gross, and we want nothing to do with it.<br><br><div class="footer-info">© TeslaTracker 2021<span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><a href="mailto:contact@teslatracker.com" class="blue-link">contact@teslatracker.com</a></div></p>
    </footer>
    
    </div>
  
    <script src="/dateFormat.js"></script>
    <script src="/item.js"></script>
    <script src="/user_profile.js"></script>
    <script src="/search.js"></script>
    
  </body>
</html>

